 <!-- Mostrar comentarios existentes -->
    <strong class="text-body-secondary">Comentarios</strong>
    <ul class="list-group list-group-flush">

        <% sorted_comments = post.comments.sort_by { |comment| comment.created_at }.reverse %>
        <% sorted_comments.each do |comment| %>
        <li class="list-group-item">
            <p class="m-0">
                <strong class="text-primary"><%= comment.anonymous? ? "Anónimo" : comment.user.try(:name) %>:</strong>                
            </p>
            <p class="m-0 fw-5">
                <%= comment.content %>  
            <span class="text-secondary text- mb-2">
            <%= time_ago_in_words(comment.created_at) %> ago.
            </span>
            </p >
        </li>
    </ul>
    <% end %>